#page-header {
    margin: 0;
    z-index: 20;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;

    nav {
        @include transition(all 100ms ease-in-out);
        font-size: 15px;
        text-transform: uppercase;
        @extend .smooth;
        font-weight: 300;
        letter-spacing: 1px;
        position: absolute;
        left: 90px;
        top: 30px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        li {
            display: inline;
            &:not(:first-child):before {
                content: '/';
            }
        }
        a {
            @include transition(all 100ms ease-in-out);
            display: inline-block;
            padding: 10px 7px;
        }
    }
}

.project-detail #page-header nav {
    top: 20px;
    li:before {
        content: '';
    }
    li {
        display: block;
    }
}