$badge-size: 80px;

.project {
    width: 300px;
    height: 145px;
    margin: 10px;
    position: relative;
    margin: 5px;
    float: left;
    overflow: hidden;
    background-color: $blue;
    @include opacity(0);
    @include transition(all 3s ease-in-out 1s);

    &.featured {
        height: 300px;
    }

    h2 {
        width: 94%;
        position: absolute;
        left: 0;
        // background: rgba(#eee, .5);
        @include background-gradient(rgba(#ddd, .8));

        bottom: -38px;
        padding: 10px 5%;
        margin: 0;
        font-size: 18px;
        line-height: 1em;
        // text-transform: uppercase;
        font-weight: 400;
        @include color-by-background(#eee, 100);
        @include transition(200ms linear);
    }
    &:hover h2 {
        bottom: 0px;
    }
    &:hover {
        text-decoration: none;
    }

    .current & {
        @include opacity(1);
    }
}

.coverphoto {
    position: absolute;
    top: 0;
    left: 0;
    @include transform-origin(0, 0);
    @include transition(all 250ms ease-in-out);
    -webkit-filter: blur(1px);
    // @include scale(.98);
    @include transform(scale(.97) translateX(0));

    .project:hover & {
        @include transform(scale(1) translateX(-5px));
        -webkit-filter: blur(0);
        @include opacity(1);
        // @include scale(1);
    }
}