$social-spacing: 4px;
@import "social/*.png";
@include all-social-sprites(true);

nav.social {
    position: absolute;
    bottom: 40px;
    right: 15px;
    @include transition;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        @include transform(translateZ(0));
        margin-right: $social-spacing;
    }

    a {
        display: inline-block;
        text-indent: -9999px;
        @include opacity(.3);
        @include transition(400ms ease-in-out);
        @include transform(translate3d(0,0,0));

        -webkit-backface-visibility: hidden;

        &:hover {
            @include opacity(1);
        }
    }
}