$social-spacing: 4px;
@import "social/*.png";
@include all-social-sprites(true);

nav.social {
    position: absolute;
    bottom: 40px;
    right: 24px;
    @include transition(all 500ms linear);

    @include opacity(.6);

    &:hover {
        @include opacity(1);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        @include transform(translateZ(0));
        margin-right: $social-spacing;
    }

    a {
        display: inline-block;
        text-indent: -9999px;
        @include opacity(.1);
        @include transition(400ms ease-in-out);
        @include transform(translate3d(0,0,0));

        -webkit-backface-visibility: hidden;
        .home & {
            @include opacity(.5);
        }
        &:hover {
            @include opacity(.9);
        }
    }
}