$default-text-contrast: 50;

@import 'compass', 'recipes';

$background-color: #111;
$bg-list: #000;
$blue: #33A5F5;

@mixin color-skin($name, $color) {

    .#{$name} #content {
        nav {
            @include color-by-background($color, 15);
        }
        nav a {
            @include color-by-background($color, 40);

            &:hover {
                text-decoration: none;
                @include text-shadow(0 0 2px rgba($blue, .5), 0 0 8px rgba(lighten($blue, 20), .3));
                @include color-by-background($color, 60);
            }

            &.active {
                @include color-by-background($color, 80);            
            }
        }

        background-color: $color;
        @include color-by-background($color);

        h3 {
            @include color-by-background($color, 40);
        }

        a {
            @include color-by-background($color, 30);

            &:hover {
                @include color-by-background($color, 50);
            }
        }
    }
}

@include color-skin('presentations', #111);
@include color-skin('projects', #eee);
@include color-skin('tumblogs', #2C4762);
@include color-skin('home', $blue);
@include color-skin('project-detail', #111);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    // background: #000 url(../img/me-big.jpg) right center fixed no-repeat;
    background: #000;
    -moz-background-size: cover;
    background-size: cover;
    font-size: 15px;
    font-family: gesta, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    margin-top: 30px;
    font-weight: 300;
}

h3 {
    font-weight: 300;
    font-size: 15px;
}

#content {
    top: 0;
    left: 0;
    position: relative; /* needed for footer positioning*/    
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/

    min-height: 100%; /* real browsers */

    width: 45%;

    margin-left: 5%;
    @include background(
        background_noise($size: 120, $monochrome: true, $opacity: .05, $intensity: 1),
        $background-color
    );

    .presentations &, .projects &, .tumblogs & {
        width: 90%;
        margin-left: 0;
        width: 100%;
    }

    .projects & {
        margin-left: 5%;
        width: 95%;
    }

    .project-detail & {
        nav {
            opacity: 0;
        }

        width: 20%;
    }

    // Prevents animating the first one...
    body:not(.firstrun) & {
        @include transition(all 350ms ease-in-out);
    }
    > div {
        margin: 40px 40px 20px;
        display: none;

        &.current {
            display: block;
        }
    }

    .home & > div {
        margin: 200px 40px 20px;
    }

    p {
        font-size: 1.7em;
        line-height: 1.3em;
    }
}

@import 'header';
@import 'social';
@import 'projects';