$default-text-contrast: 50;

@import 'compass', 'recipes';

$background-color: #111;
$bg-list: #000;
$blue: #33A5F5;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    // background: #000 url(../img/me-big.jpg) right center fixed no-repeat;
    background: #000;
    -moz-background-size: cover;
    background-size: cover;
    font-size: 15px;
    font-family: gesta, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    min-height: 100%;

    &.loading-frame {
        background-image: url(../img/loading.gif);
        background-size: auto;
        background-position: 15px 20px;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}

.smooth {
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    text-decoration: none;
    @include transition(all 200ms linear);
}

h1 {
    margin-top: 30px;
    font-weight: 300;
}

h2 {
    font-weight: 300;
    font-size: 18px;
}

#content {
    top: 0;
    left: 0;
    z-index: 10;
    position: relative; /* needed for footer positioning*/    
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/

    min-height: 100%; /* real browsers */

    width: 45%;

    margin-left: 5%;
    @include background(
        background_noise($size: 120, $monochrome: true, $opacity: .08, $intensity: .25),
        $background-color
    );

    .presentations &, .work & {
        width: 90%;
        margin-left: 0;
        width: 100%;
    }

    .presentations & {
        width: 45%;
        padding-right: 35%;
    }

    .work & {
        margin-left: 5%;
        width: 95%;
    }

    .project-detail & {


        nav {
            @include opacity(0);
            
            a {
                padding: 1px 0;
            }
        }
        &:hover nav {
            @include opacity(1);
        }

        @extend .smooth;

        p {
            font-size: 14px;
            line-height: 24px;
        }

        > div {
            margin: 40px 15px 20px;
        }
        width: 25%;
        margin-left: 75%;
        margin-right: 0;
    }

    // Prevents animating the first one...
    body.routed & {
        @include transition(all 350ms ease-in-out);
    }

    > div {
        margin: 20px 95px;
        padding-bottom: 40px;
        display: none;
        overflow: hidden; // Clear floats

        &.current {
            display: block;
        }
    }

    p a, h1 a, h2 a, h3 a {
        padding: 0 4px;
    }

    .home & > div {
        margin: 140px 40px 20px;
    }

    p {
        font-size: 1.7em;
        line-height: 1.3em;
    }
}

.bigiframe {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include opacity(0);
    @include translate3d(0,0,0);
    @include transition(all 1s ease-in-out);

    // FIRST!!!
    -webkit-filter: blur(5px);

    &.loaded {
        -webkit-filter: blur(0);
        @include opacity(1);
    }
}

#content #home-photo {
    display: block;
    position: fixed;
    top: 20%;
    right: 0;
    padding: 0;
    margin: 0;

    @include opacity(0);
    @include scale(.85);
    z-index: 1;

    pointer-events: none;
}

.home #content #home-photo {
    @include opacity(1);
    @include scale(1);
}

@import 'colors';
@import 'header';
@import 'social';
@import 'projects';